<div class="w-full flex flex-col gap-10">
  <div class="w-full flex flex-col items-center gap-8">
    <h1 class="text-3xl font-semibold">追加</h1>
    <form [formGroup]="form" class="flex flex-col gap-4">
      <div class="flex gap-3">
        <label class="flex-[0.4]">LastName: </label>
        <input class="flex-[0.6] border-2 border-black rounded-2xl pl-2" type="text" formControlName="lastName">
      </div>
      <div class="flex gap-3">
        <label class="flex-[0.4]">FirstName: </label>
        <input class="flex-[0.6] border-2 border-black rounded-2xl pl-2" type="text" formControlName="firstName">
      </div>
      <div class="flex gap-3">
        <label class="flex-[0.4]">Age: </label>
        <input class="flex-[0.6] border-2 border-black rounded-2xl pl-2" type="number" formControlName="age">
      </div>
      <div class="flex gap-4 justify-center">
        <button (click)="reset($event)" class="px-4 py-2 border-red-200 border-2 rounded-xl bg-red-200">Reset</button>
        <button (click)="add()" class="px-6 py-2 border-blue-200 border-2 rounded-xl bg-blue-200">Add</button>
      </div>
    </form>
  </div>
  <div class="w-full flex flex-col items-center gap-8">
    <h1 class="text-3xl font-semibold">リスト</h1>
    <div class="flex flex-row gap-4">
      <div class="flex flex-col w-52 border-2 p-3 rounded-2xl" *ngFor="let user of (users$ | async)">
        <h3>id:{{user.id}}</h3>
        <h3>name:{{user.lastName}} {{user.firstName}}</h3>
        <h3>age:{{user.age}}</h3>
      </div>
    </div>
  </div>
</div>
